APP_NAME="Course System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8088
APP_TIMEZONE=Africa/Cairo
APP_PORT=8088
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
COMPOSE_PROJECT_NAME=course-system
WWWUSER=1000
WWWGROUP=1000
LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=course_system
DB_USERNAME=course
DB_PASSWORD=local-course-password
DB_TIMEZONE=Africa/Cairo
DB_ROOT_PASSWORD=local-root-password
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=false
CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
MAIL_MAILER=log
FILESYSTEM_DISK=local
VITE_APP_NAME="${APP_NAME}"
VITE_PORT=5178
VITE_HMR_HOST=localhost
BCRYPT_ROUNDS=12
